/composer/local-cc-dev/*
!/composer/local-cc-dev/requirements.txt
.pytest_cache
**/__pycache__/
.vscode
.python-version
identity-federation.sh

/composer/composer-local-dev/*
/idea/*
config
serverless_demo.py
node_modules

